<table border="0" cellpadding="0" cellspacing="0" width="600" align="center">
  <tr>
    <td>
      <a alias="REENGAJAMENTO_OUTLET_NA_ECOM" href="https://havaianas.com.br/outlet?utm_source=salesforce_blast&utm_medium=email&utm_campaign=HV_20220528_CP_ECOM_LANCAMENTOS_SEMANA_0_EMKT" target="_blank">
        <img border="0" style="display: block;" src="http://image.e.havaianas.com/lib/fe3911717164047a751772/m/19/8c2865dc-63c2-4724-b3da-e0df02fa85a5.png" alt="">
      </a>
    </td>
  </tr>
</table>